.appbar-container{
    background-color: white;
    display: flex;
    height:60px;
    box-shadow:none !important;
}


.logo-app-bar{
    width: 120px;
    height: 50px;
    margin-left: 4rem;
}

.action-buttons-app-bar{
    margin-right: 5rem;

}

.button-sign-in{
    color:black !important;
    border: none;
    padding-right: 2rem;
}
.button-sign-up{
    padding-left: 2rem;
    border:2px solid;
    border-radius: 50% !important;
    color:orangered !important;
    border-color: orangered !important;
}